.settingsContainer {
    align-items: center;
    max-width: 80%;
    margin: 0 auto; /* Centers the div horizontally */
    margin-top: 80px;
}

.span {
    color: var(--primary-accent-color);
    font-weight: bold;
}

.warn {
    color: var(--tertiary-accent-color);
}
