.div {
    position: sticky;
    top: 0; 
    width: 100%; 
    padding: 5px 10px; 
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: var(--background-color-tinted);
    z-index: 1000; 
    box-sizing: border-box;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.button {
    height: 30px;
    border: none;
    background-color: var(--primary-accent-color);
    color: white;
    cursor: pointer;
    border-radius: 5px;
    box-sizing: border-box;

    &:hover {
        background-color: var(--secondary-accent-color);
    }

    &:focus {
        outline: 2px solid var(--tertiary-accent-color);
    }
}

.input {
    font-size: 22px;
    border: none;
    background-color: transparent;
    color: var(--primary-text-color);
    border-bottom: 2px solid var(--background-color-tinted);
    height: 100%;
    margin: 0 10px; 

    &:focus {
        border-bottom: 2px solid var(--secondary-accent-color);
        outline: none;
    }

    &::placeholder {
        color: var(--secondary-text-color);
        text-align: center;
    }
}
