.div {
    display: flex;
    /* gap: 5px; */
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15px;
}

.thumbnailContainer {
    border: none;
    outline: none;
    margin-left: 3px;
    margin-right: 3px;
}

.thumbnail {
    border: 3px solid var(--background-color);
    position: relative;
    outline: none;

    &:hover {
        border: 3px solid var(--primary-accent-color);
        cursor: pointer;
    }
    
    &:focus {
        border: 3px solid var(--primary-accent-color);
        cursor: pointer;
    }
}
