
:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    /* font-size: 16px; */
    /* line-height: 24px; */
    /* font-weight: 400; */

    --background-color: #202020;
    --background-color-tinted: #252525;
    --background-highlight: #353535;
    --primary-text-color: #fcfcfc;
    --secondary-text-color: #707070;
    --primary-accent-color: #1e65ff;
    --secondary-accent-color: #702ef3;
    --tertiary-accent-color: #fc1a70;
    color: var(--primary-text-color);
    background-color: var(--background-color);
    font-synthesis: none;
    text-rendering: optimizelegibility;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    background: transparent;
    width: 7px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--primary-accent-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-accent-color);
}

